// Backgrounds
$bg-primary: #465043;
$bg-secondary: #3D463A;
$bg-tertiary: #343C32;

// Text
$text-header: #FDF3D5;
$text-bright: #FCEDC0;
$text-normal: #FBE7AB;
$text-dim: #FAE297;

// Accents
$accent: #FED143;
$accent-alt: #E4BC3C;
$accent-dim: #CBA735;
