// Backgrounds
$bg-primary: #000050;
$bg-secondary: #000030;
$bg-tertiary: #000000;

// Text
$text-header: #ffffff;
$text-bright: #eeeeee;
$text-normal: #dddddd;
$text-dim: #aaaaaa;

// Accents
$accent: #6270ee;
$accent-alt: #4e59be;
$accent-dim: #3a438e;
